.chat-group-form
  %h1 新規チャットグループ
  = form_for @group do |f|
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "グループ名", class: "chat-group-form__label"
      .chat-group-form__field--right
        = f.text_field :name, id: 'chat_group_name', placeholder: "グループ名を入力してください", class: "chat-group-form__input"
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
        = f.label :name, "チャットメンバーを追加", class: "chat-group-form__label"
      .chat-group-form__field--right
        .chat-group-form__search.clearfix
          = f.text_field :group_users, value: "", id: 'user-search-field', placeholder: "追加したいユーザー名を入力してください", class: 'chat-group-form__input'
          #user-search-result
          %ul#searched_user_list
            %input#user_id{type: "hidden", name: 'group[user_ids][]', value: current_user.id}/
    .chat-group-form__field.clearfix
      .chat-group-form__field--left
      .chat-group-form__field--right
        %input.chat-group-form__action-btn{"data-disable-with" => "Save", :name => "commit", :type => "submit", :value => "Save"}/
